.my-stack {
    margin-top: 10rem;
    grid-column: 2;
    display: grid;

    h1 {
        font-size: 3rem;
        font-weight: 400;

        span {
            color: $clr1;
        }
    }


    .stack-imgs {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
        gap: 2rem;
        align-items: center;
        justify-items: center;

        @include for-medium-layout {
            grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
        }

        img {
            width: 100%;

            &:nth-child(5) {
                scale: 142%;
            }
        }

    }
}